.specialSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    border: 1px solid black;
    font-family: Cormorant Upright;
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.0575rem;
    text-transform: capitalize;
    color: #fff;

    margin: 0;
}

.spoon {
    border: 1px solid black;
    margin-top: 0.5rem;
}

.todaysSpecial {
    border: 1px solid black;
    margin: 0;
    color: var(--dcca-87, #DCCA87);
    text-align: center;
    font-family: Cormorant Upright;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.16rem;
    text-transform: capitalize;
}



.wholeMenu {
    display: flex;
    text-align: center;
}

.menuLine {
    margin-bottom: 0.4rem;
    margin-right: 2rem;
    margin-left: 4rem;
}


.menuLine1 {
    margin-bottom: 0.4rem;
    margin-right: 2rem;
    margin-left: 2rem;
}


.menuLine2 {
    margin-bottom: 0.4rem;
    margin-right: 2rem;
    margin-left: 4rem;
}


.menuLine3 {
    margin-bottom: 0.4rem;
    margin-right: 2rem;
    margin-left: 2rem;
}


.menuLine4 {
    margin-bottom: 0.4rem;
    margin-right: 2rem;
    margin-left: 6.7rem;
}


.menuLine5 {
    margin-bottom: 0.4rem;
    margin-right: 2rem;
    margin-left: 3rem;
}


.menuLine6 {
    margin-bottom: 0.4rem;
    margin-right: 2rem;
    margin-left: 7rem;
}



.wineAndBeer {
    color: #fff;
}


.cocktails {
    color: #fff;
}


.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list li {
    margin-bottom: 2.5rem;
    list-style-type: none;
}

.menuHeading {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.1125rem;
    text-transform: capitalize;
}

.menuContent {
    color: var(--dcca-87, #DCCA87);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright;
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.0575rem;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
}



.underContent {
    color: var(--aaaaaa, #AAA);
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.04rem;
    margin: 0;

}

.viewMoreButton {
    padding: 0.5rem 2rem;
    background-color: #DCCA87;
    font-family: Cormorant Upright;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 175%;
    letter-spacing: 0.04rem;
    text-align: center;
}

.viewMore {
    text-align: center;
    margin-top: 0rem;
}


.wholeTodaySpecial {
    width: 100%;
    height: 100vh;
}

.cocktailShaker {
    height: 80vh;
}



@media screen and (max-width: 450px) {
    .mobileSpecialSection {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin-top: 5rem;

    }

    .mobileMenu {
        font-family: Cormorant Upright;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 0.0575rem;
        color: #fff;

        margin: 0;

    }


    .mobileMenuSpoon {
        width: 2rem;
        max-width: 2rem;

    }

    .mobileTodaysSpecial {


        margin: 0;
        color: var(--dcca-87, #DCCA87);

        font-family: Cormorant Upright;
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0.16rem;
    }


    .mobileWineAndBeer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobileMenuHeading {
        color: var(--ffffff, #FFF);
        text-align: center;
        font-variant-numeric: lining-nums tabular-nums;
        font-family: Cormorant Upright;
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0.1125rem;

    }


    .mobileMenuContent {
        color: var(--dcca-87, #fff);
        font-variant-numeric: lining-nums tabular-nums;
        font-family: Cormorant Upright;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 0.0575rem;

        margin-bottom: 0.5rem;
    }

    .mobileUnderContent {
        color: var(--aaaaaa, #AAA);
        font-family: Open Sans;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 175%;
        letter-spacing: 0.04rem;
        margin: 0;
    }


    .mobileMenuLine1 {
        width: 4rem;
        margin-left: 5rem;
        margin-bottom: 0.2rem;
        margin-right: 1rem;

    }

    .mobileMenuLine {
        width: 4rem;
        margin-left: 6.2rem;
        margin-bottom: 0.2rem;
        margin-right: 1rem;

    }

    .mobileCocktailShaker {
        width: 80%;

    }

    .mobileCocktailShakerDiv {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobileViewMoreCocktail {
        padding: 0.25rem 1rem;
        font-family: Cormorant Upright;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 175%;
        letter-spacing: 0.04rem;
        background-color: #DCCA87;
        border: none;
        max-width: 10rem;

        margin-top: 4rem;

    }

    .mobileCocktailButtonDiv {
        display: flex;
        justify-content: center;
        align-items: center;
    }




}